.main-content {
    background: url("pictures/img_23db41_5.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.blur-main-content {
    background: rgba(72, 68, 68, 0.8);
}
.rotate {
    overflow: hidden;
    position: relative;
}
.project {
    transform: rotateY(0deg);
    transition: 0.8s;
}
.detailed-info {
    font-size: 70%;
    position: absolute;
    height: 100%;
    top: 1%;
    padding: 2%;
    text-align: left;
    transform: rotateY(180deg);
    background: radial-gradient(rgba(218, 206, 206, 0.75), rgba(143, 129, 129, 0.8));
    transition: 0.8s;
}
.info-need-more-space {
    font-size: 60%;
}
.info-need-more-more-space {
    font-size: 50%;
}
.info-need-less-space {
    font-size: 120%;
}
.project, .detailed-info {
    cursor: pointer;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    backface-visibility: hidden;
    transition: transform 1s, revert;
}
.rotate:hover > .project {
    transform: rotateY(-180deg);
}
.rotate:hover > .detailed-info {
    transform: rotateY(0deg);
}
.project-title {
    font-size: 80%;
    background-color: rgba(254, 1, 154, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
.project-title:hover {
    background: radial-gradient(rgba(98, 28, 83, 0.6), rgba(254, 1, 154, 0.6));
}
.blur {
    background: rgba(0, 0, 0, 0.7);
}
.header, .footer {
    background: url("pictures/r21EloC-dxM.jpg");
    background-size: 60%;
}
.logo-fpm {
    width: 90%;
}
.main-title {;
    color: #ece6e6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 90%;
}
.subtitle {
    font-size: 60%;
}
.date-title {
    font-size: 60%;
}
.yellow-text {
    color: #CFFF11;
}
.purple-text {
    color: #621C53;
}
.magenta-text {
    color: #FE019A;
}
.footer-text {
    font-size: 50%;
    color: rgba(220, 206, 206, 0.5);
}
.point:after {
    content: '\2022';
}

@media screen and (min-width: 760px) {
    .project-title {
        font-size: 110%;
    }
    .detailed-info {
        font-size: 100%;
    }
    .info-need-more-space {
        font-size: 90%;
    }
    .info-need-more-more-space {
        font-size: 85%;
    }
    .info-need-less-space {
        font-size: 160%;
    }
    .header {
        background-size: 20%;
        height: 7rem;
    }
    .blur-header {
        height: 7rem;
    }
    .main-title {
        font-size: 150%;
    }
    .subtitle {
        font-size: 100%;
    }
    .date-title {
        font-size: 100%;
    }
    .logo-fpm {
        width: 28%;
    }
    .footer {
        background-size: 20%;
    }
    .logo-kubsu {
        width: 150%;
        margin: 1rem;
    }
    .footer-text {
        font-size: 80%;
    }
}